<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <p> Você tem um nova reserva. Acesse seu <a href="http://tap2go.mobile2you.com.br"> escritório virtual </a>para obter mais detalhes</p>
</body>
</html>