
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <p> Obrigado por comprar sua experiência na TAP TO GO

Sua compra foi confirmada com sucesso. Acesse seu aplicativo para obter o Código QR para apresentar ao parceiro.

Acesse o app sempre que precisar consultar detalhes.



Tap to GO : Descubra Online e viva Off-line.
</p>
<p> Este é seu voucher:

<img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%= @id %>">

</p>

<p> <%= @policy.html_safe %></p>
</body>
</html>