<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h4> Bem vindo ao TaptoGo</h4>
 <p> Acesse seu <a href="http://tap2go.mobile2you.com.br"> escritório virtual </a>para obter mais detalhes</p>
</body>
</html>