<!DOCTYPE html>
<html>
  <head>
    <title>TapToGo</title>
    <%= wicked_pdf_stylesheet_link_tag "receipt-pdf" %>
  </head>
  <body class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #FFFFFF;">
    <%= yield %>
  </body>
</html>
