<div class="msg">Senha Alterada com sucesso</div>
<form method="get" action="taptogoapp://home">
<div class="row">
   <div class="col-xs-12 align-center">
      <button class="btn btn-block bg-green waves-effect" type="submit">VOLTAR AO APP</button>
   </div>
</div>
</form>
